.Navigation{
    display: flex;
    height: 10vh;
    background-color: aqua;
    justify-content: space-evenly;
    align-items: center;
}

.Navigation a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.Header{
    height: 90vh;
    background-color: beige;
}



.About{
    background-color: red;
    position: relative;
}

.Box{
    width: 500px;
    margin: 100px;
    position: sticky;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 99;
}

.Box > div{
    width: 100%;
}

.Box img{
    width: 100%;
}

.Contact{
    height: 600px;
    background-color: blue;
}

 
.AboutHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
   
}
.AboutCenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: crimson;
    margin-top:40vh;
}
.AboutFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: darkgreen;
    margin-top: 400px;
}

 

.AboutStripe{
    height: 400px;
    z-index: 1000000;
    background-color: white;
    position: absolute;
    width: 100%;
}

.Envelope{
    width: 510px;
    margin: 100px;
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;   
}

.Envelope > div{
    width: 100%;
}

.Envelope img{
    width: 100%;
}